Backend/obj/PawpalBackend.csproj.nuget.dgspec.json
Backend/obj/PawpalBackend.csproj.nuget.g.props
Backend/obj/project.assets.json
Backend/obj/project.nuget.cache
Backend/obj/Debug/net8.0/PawpalBackend.AssemblyInfo.cs
Backend/obj/Debug/net8.0/PawpalBackend.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/PawpalBackend.assets.cache
Backend/obj/Debug/net8.0/PawpalBackend.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/PawpalBackend.GeneratedMSBuildEditorConfig.editorconfig

*.cache
